# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~

# Persistent undo
[._]*.un~

# Auto generate
test
tags
plugin/
plugins/

# Homebrew
Brewfile.lock.json

# Lazygit
state.yml

# lua
.luarc.json

.DS_Store
