# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist *~

# Persistent undo
[._]*.un~

# Auto generate
tags
plugin/
plugins/
pipe-viewer/.config/pipe-viewer/playlists/**
pipe-viewer/.config/pipe-viewer/watched.txt
pipe-viewer/.config/pipe-viewer/instances.json
ranger/.config/ranger/commands.py
ranger/.config/ranger/commands_full.py

# Homebrew
Brewfile.lock.json

# Lazygit
state.yml

# lua
.luarc.json

# osx
.DS_Store
